/.build/
/MANIFEST
/MANIFEST.bak
/MYMETA.json
/MYMETA.json.lock
/MYMETA.yml
/Makefile
/Makefile.old
/blib/
/cover_db/
/pm_to_blib
/Catalyst-Plugin-Session-Store-DBIC-*/
/Catalyst-Plugin-Session-Store-DBIC-*.tar
/Catalyst-Plugin-Session-Store-DBIC-*.tar.gz
/t/session.db
